<html lang="en">
<body>
  <%- include("./partials/nav.ejs") %>

  <div class="not-found content">
    couldn't find this page, 404...
  </div>

  <%- include("./partials/footer.ejs") %>
</body>
</html>