<nav>
  <div class="site-title">
    <a href="/"><h1>Travel agency</h1></a>
    <p>Lukasz's Travel Agency</p>
  </div>
  <ul>
    <li><a href="/">See parameters</a></li>
    <li><a href="/trips/create">Add parameters</a></li>
  </ul>
</nav>